
ul {
  list-style: none;
}

.header-home {
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(73, 67, 67, 0.5), rgba(29, 0, 0, 0.5)), url('../../assets/images/background.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  .home-content {
    text-align: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .loading svg polyline {
    fill: none;
    stroke-width: 6; 
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .loading svg {
    height: 96px; 
    width: 128px; 
  }
  
  .loading svg polyline#back {
    fill: none;
  }
  
  .loading svg polyline#front {
    fill: none;
    stroke: #FF0000;
    stroke-dasharray: 96, 288; /* Adjust the stroke-dasharray for the larger size */
    stroke-dashoffset: 384; /* Adjust the stroke-dashoffset for the larger size */
    animation: dash_682 1.4s linear infinite;
  }
  
  @keyframes dash_682 {
    72.5% {
      opacity: 0;
    }
  
    to {
      stroke-dashoffset: 0;
    }
  }
  
  .home-title {
    font-size: 80px; 
    font-weight: bold; 
    text-transform: capitalize;
    margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(to right, rgb(255, 255, 255) 60%, #2fbaff);
    -webkit-background-clip: text;
    color: transparent; 
    padding: 10px 20px; 
    border-radius: 10px; 
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }
  
.home-btn  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px 20px 22px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #e8e8e8;
    border-color: #ffe2e2;
    border-style: solid;
    border-width: 9px;
    border-radius: 35px;
    font-size: 25px;
    font-weight: 900;
    color: rgb(134, 124, 124);
    font-family: monospace;
    transition: transform 400ms cubic-bezier(.68,-0.55,.27,2.5), 
    border-color 400ms ease-in-out,
    background-color 400ms ease-in-out;
    word-spacing: -2px;
  }
  
  @keyframes movingBorders {
    0% {
      border-color: #fce4e4;
    }
  
    50% {
      border-color: #ffd8d8;
    }
  
    90% {
      border-color: #fce4e4;
    }
  }
  
  .home-btn:hover {
    background-color: #eee;
    transform: scale(105%);
    animation: movingBorders 3s infinite;
  }
  
  .home-btn svg {
    margin-right: 11px;
    fill: rgb(255, 110, 110);
    transition: opacity 100ms ease-in-out;
  }
  
  .filled {
    position: absolute;
    opacity: 0;
    top: 20px;
    left: 22px;
  }
  
  @keyframes beatingHeart {
    0% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1.15);
    }
  
    30% {
      transform: scale(1);
    }
  
    45% {
      transform: scale(1.15);
    }
  
    60% {
      transform: scale(1);
    }
  }
  
  .home-btn:hover .empty {
    opacity: 0;
  }
  
  .home-btn:hover .filled {
    opacity: 1;
    animation: beatingHeart 1.2s infinite;
  }

  .slidingTextCntainer{
    position: absolute;
    font-size: 50vh;
    bottom:-100px;
    white-space: nowrap;
    color: gray;
  }

  /* Home.css */

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-500px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes buttonScale {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }

.home-content {
    animation: fadeIn 1s ease forwards;
  }
  
  .home-btn {
    animation: buttonScale 1s ease infinite;
  }

/* start about */
.about {
  margin: 4rem 0;
}

.about-container {
  width: calc(100% - 15%);
  max-width: 1320px;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  justify-content: space-between;
}

.about-heading {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
  font-weight: bold;
  border-left: 4px solid var(--blue-color); ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
}

.about-pargraph {
  font-style: italic;
  font-size: 20px;
}

.about-icon {
  font-size: 30px;
  margin-right: 10px;
  color: var(--blue-color); }

.about-item {
  color: rgb(72, 70, 70);
  font-weight: 300;
  font-size: 25px;
}

.image-container {
  position: relative;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

@keyframes moveImage {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px); /* Adjust the distance and direction of movement as needed */
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply the animation to the image */
.image-container img {
  animation: moveImage 4s linear infinite; /* Adjust the animation duration as needed */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
  height: 500px;
}


.about-btn {
  position: relative;
  width: 200px;
  height: 40px;
  background-color:var(--blue-color); ;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 40px; 

}

.about-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 210px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.about-btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.about-btn:hover::after {
  filter: blur(30px);
}

.about-btn:hover::before {
  transform: rotate(-180deg);
}

.about-btn:active::before {
  scale: 0.7;
}


/* start services */
.services-container {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  max-width: 1300px;
}
.section-heading {
  font-family: 'Arial', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: var(--blue-color);   text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
  margin-top: 100px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow effect */
}

.services-section {
  text-align: center;
}

.services-parent {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  align-items: center;
  justify-content: space-evenly;
}

.service {
  margin: 70px auto 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 20px var(--blue-color); ;
  border-radius: 50%;
  padding: 10px;
  height: 220px;
  width: 220px;
  text-transform: capitalize;
  transition: 0.3s;
  gap: 1rem;
  box-shadow: -7px -20px 20px rgb(0 0 0 / 20%);
  border: 3px solid #4665dd; 
}

.service:hover {
  transform: scale(1.13);
  background-color: rgba(86, 117, 171, 0.6);
}

.service span {
  color: #000000;
  font-size: 25px;
  font-weight: bold;
}

.service i {
  font-size: 40px;
  font-weight: bold;
  color: var(--blue-color); }
